@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  font-size: 1.5rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 300;
  background-color: rgb(53, 53, 53);
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 35rem;
  position: relative;
  -webkit-text-stroke: 0;
  margin-top: 20dvh;
}

.modal-content p:first-of-type {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content li {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}

.modal-content div {
  display: inline-block;
  margin-left: 0.5rem;
}

#settingsBar {
  -webkit-text-stroke: 0px;
  top: 1dvh;
  position: fixed;
  display: flex;
  height: 0dvh;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  transition: 1s;
  opacity: 1;
  right: 0;
}

.settingsElement:first-child {
  display: block;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}

.settingsElement {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  transition-delay: 1s;
}

.settingsElement > * {
  position: absolute;
  right: 0;
  top: 0;
}

#settingsBar.active .settingsElement {
  opacity: 1;
  transition-delay: 0s;
}

#settingsBar.active {
  height: 10dvh;
}

.settingsIcon {
  margin-right: 1dvh;
  padding: 0.5dvh;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
  right: 0;
  height: fit-content;
  width: fit-content;
}

span.material-symbols-outlined.settingsIcon {
  font-size: 1.5rem;
  color: rgb(160, 0, 0);
  padding: 0.5dvh;
  background: white;
  border-radius: 50%;
}

span.material-symbols-outlined:hover {
  background: grey;
}

#settings.material-symbols-outlined {
  color: rgb(58, 58, 58);
}

#open-modal {
  color: rgb(255, 230, 0);
  background-color: rgb(58, 58, 58);
}

#deleteButton {
  color: white;
  background-color: rgb(160, 0, 0);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(34, 34, 34);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --yellow: rgb(253, 221, 62);
  --red: rgb(212, 51, 51);
  --green: rgb(67, 173, 67);
  --orange: rgb(242, 135, 54);
}

body {
  font-family: "Chango", sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
  background: url(img/background.jpg), linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, transparent 30%, transparent 60%, rgba(0, 0, 0, 0.6) 100%);
  background-size: 50% 100dvh, 100% 100dvh, 100% 100%;
  background-repeat: repeat, repeat-x, repeat-x;
  background-blend-mode: overlay;
  overflow-x: hidden;
  margin: 0 0;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

button {
  font-family: "Varela Round", sans-serif;
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  border: none;
}

button:hover {
  transform: scale(1.05);
}

button:not(.locked):active {
  transform: scale(0.95);
  transition: 0s;
}

a {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4dvh;
  -webkit-text-stroke: 0px;
  font-family: "Varela Round", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 2;
}

@keyframes honey-animation-x {
  from {
    left: 0px;
  }
  to {
    left: -500px;
  }
}

@keyframes honey-animation-y {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.5);
  }
}

.honey {
  position: absolute;
  top: 0;
  left: 0;
  mask: url(img/honey-mask.png);
  mask-mode: alpha;
  background: url(img/honey-texture-test.png), url(img/honey-mask.png);
  background-blend-mode: overlay;
  mask-size: 1000px 35dvh;
  mask-repeat: repeat-x;
  background-size: 35dvh 35dvh, 1000px 35dvh;
  background-repeat: repeat, repeat-x;
  top: 65dvh;
  height: 35dvh;
  width: calc(100dvw + 500px);
}

.honey-bottom {
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/honey-texture-test.png), #525252;
  background-blend-mode: overlay;
  mask-size: 1000px 35dvh;
  mask-repeat: repeat-x;
  background-size: 35dvh 35dvh;
  background-repeat: repeat;
  top: 100dvh;
  height: 100%;
  width: calc(100dvw + 500px);
}

#front-honey > div {
  position: relative;
  height: 100%;
  transform-origin: 50% 100dvh;
  animation: honey-animation-x ease-in-out 2s infinite alternate, honey-animation-y ease-in-out 3s infinite alternate;
}

#back-honey > div {
  position: relative;
  height: 100%;
  transform-origin: 50% 100dvh;
  animation: honey-animation-x ease-in-out 3s infinite alternate, honey-animation-y ease-in-out 5s infinite alternate;
}

#front-honey {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
  mix-blend-mode: overlay;
  max-height: 100%;
  bottom: 0;
  width: 100%;
}

#back-honey {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -2;
  mix-blend-mode: normal;
  max-height: 100%;
  opacity: 0.7;
  width: 100%;
  bottom: 0;
}

#topPannel {
  position: relative;
  min-height: 200dvh;
}

#counter {
  display: flex;
  width: 100%;
  justify-content: center;
}

@keyframes counter-jiggle {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

#counterDisplay {
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;
  animation: counter-jiggle 4s ease-in-out infinite alternate;
}

#totalSpeed {
  font-size: 2.5rem;
  text-align: center;
  animation: counter-jiggle 4s ease-in-out infinite alternate;
  margin-bottom: 2dvh;
  margin-top: -1dvh;
}

#counter button {
  padding: .5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
}

@keyframes big-honey-jiggle {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes big-honey-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

#bigHoney {
  position: relative;
  margin: 2dvh auto;
  width: 18dvh;
  height: 18dvh;
}

#bigHoney > div {
  position: relative;
  width: 100%;
  height: 100%;
  animation: big-honey-jiggle 2s ease-in-out infinite alternate;
}

#bigHoney > div > div {
  position: relative;
  width: 100%;
  height: 100%;
  animation: big-honey-scale 3.5s ease-in-out infinite alternate;
}

@keyframes honey-shine-animation {
  from {
    transform: scale(2.5) rotate(0deg);
  }
  to {
    transform: scale(2.5) rotate(360deg);
  }
}

#honeyShine {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  animation: honey-shine-animation 5s linear infinite;
}

#bigHoney > div img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#counterAdd {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  clip-path: circle(40%);
  background-color: transparent;
}

#counterAdd~* {
  transition: 0.2s;
}

#counterAdd:hover~* {
  transform: scale(1.05);
}

#counterAdd:active~* {
  transform: scale(1.3);
  transition: 0s;
}

#counterControls {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .2rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: 1.5dvh auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#popupContainer {
  z-index: 1;
  position: fixed;
  width: 100dvw;
  bottom: 1dvh;
}

#errorMessage {
  position: relative;
  opacity: 0;
  margin: 1rem auto;
  text-align: center;
  -webkit-text-stroke: 0px;
  font-family: "Varela Round", sans-serif;
  background-color: var(--red);
  padding: .5rem 1rem;
  width: fit-content;
  border-radius: 1rem;
  font-size: 1.5rem;
}

#errorMessage.visible {
  opacity: 1;
}

#clickImprove {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 1.2rem;
  background-color: var(--yellow);
}

#newElementsContainer {
  mask: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 15%);
  z-index: -2;
  position: absolute;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.upgradeName p {
  margin: 0;
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 1rem;
  padding-bottom: .2rem;
}

.counterAuto {
  width: 25rem;
  height: 6rem;
  cursor: pointer;
  text-align: center;
  background-color: var(--orange);
  opacity: 1;
}

.counterAutoUpgrade {
  background-color: var(--yellow);
  height: 6rem;
  width: 15rem;
}

.idleFarmer {
  transition: opacity 0.6s ease;
}

.idleFarmer:not(.buyable) {
  opacity: 0.5;
}

.idleFarmer:not(.buyable) button {
  background-color: grey;
}

.idleFarmer button {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.idleFarmer:not(.available) {
  opacity: 0;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}
